Library
Temp
*.pidb
*.unityproj
*.sln
*.userprefs
ProjectSettings/ProjectSettings.asset

ProjectSettings/NavMeshLayers.asset

ProjectSettings/ProjectSettings.asset

ProjectSettings/ProjectSettings.asset
